.qrcode_img {
    position: absolute;
    top: 18mm;
    left: 19mm;
    width: 35mm;
    height: 35mm;
    }
.qr_child_name{
    position: absolute;
    top: 50mm;
    left: 19mm;
    text-align: center;
    width: 35mm;
    height: 10mm;
}
.qr_school_name{
    position: absolute;
    font-size: 11px;
    top: 10mm;
    left: 19mm;
    text-align: center;
    width: 35mm;
    height: 10mm;
}

.qr_level{
    position: absolute;
    font-size: 11px;
    top: 15mm;
    left: 19mm;
    text-align: center;
    width: 35mm;
    height: 10mm;
}

.qrcode {
        width: 33%;
        height: 57mm;
        display: inline-block;
        float: left;
        position: relative;
    }
