#total_row{
    border-width: 1px;
    border-style: solid;
    float: left;
    width: 100%;
    page-break-inside: avoid;
    font-size: 12px;
}

.sign{
    float: right;
    text-align: right;
}

#total{
    width: 40%;
    float: right;
    margin: 2mm 5mm 2mm 0mm;
}

#total:after {
    content: "";
    display: block;
    clear: both;
}

#total>div{
    display: block;
    padding: 0px 8px 0px 8px;
    width: 100%;
    float: right;

}

#total>div>span.amount {
    float : right;
    width: 40%;
    text-align: right;
}

#total>div>span.zz_label {
    float : left;
    width: 50%;
}

#total>div.to_pay {
    font-weight: bold;
}

#payment_info{
    margin-left: 5mm;
    display: block;
    width: 50%;
    float : left;
    padding: 8px;
}
