#contact table {
    width: 100%;
    font-size:11px;
    border-width: 1px;
    border-collapse: collapse;
}
#contact table th {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    background-color: #dedede;
}
#contact table td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
}

#contact table td.amount {
    text-align: right;
    width: 20%;
}




