table {
    width: 100%;
    font-size:11px;
    border-width: 1px;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
}
