#invoice_summary {
    width: 100%;
    display: block;
    margin: 0cm 0cm 0cm 0cm;
    page-break-inside: avoid;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
 }

h5 {
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 15px;
}

b {
    font-weight: bold;
}
