#aes_header{
    width: 100%;
    display: block;
    clear: both;
    position: relative;

}
#aes_header>div.row{
    width: 100%;
}

#b_logo2{
    float: left;
}


#b_slogan{
    float: left;
    margin-top: 10px;
    width: 50%;
}

#b_slogan1{
    float: left;
    margin-top: 10px;
    width: 60%;
    font-size: 14px;
    font-weight: bold;
}


#b_slogan2{
    float: left;
    margin-top: 10px;
    width: 60%;
    font-size: 10px;
}

#b_date{
    text-align: right;
    margin-top: 10px;
    min-width: 9cm;
    position: absolute;
    right: 2em;
    top: 5%;

}

.logo2 {
    width: 35mm;
    display: inline-block;
    float: left;
}

.doc_date{
    font-size: 14px;
}

.implantation{
    font-size: 7px;
}
