#aes_header{
    width: 100%;
    display: block;
    clear: both;
}
#aes_header>div.row{
    width: 100%;
    margin-left: 0mm;
}

#b_logo{
    float: left;
    width: 100%;
}

#b_date{
    float: right;
    width: 70%;
    text-align: right;
}

.logo {
    display: inline-block;
}

.doc_date{
    font-size: 13px;
}

.implantation{
    font-size: 7px;
}
