.page {
    margin-left: 6mm;
}

.page_logo {
    margin-left: -0.5mm;
    margin-right: 2.5mm;
}

.qrcode {
    width: 33%;
    height: 85mm;
    display: inline-block;
    border: 1px hidden;
    float: left;
    position: relative;
}

.qrcode_logo {
    width: 33%;
    height: 85mm;
    display: inline-block;
    border: 1px hidden;
    float: right;
    position: relative;
}

.qrcode_img {
    position: absolute;
    top: 48mm;
    left: 15mm;
    width: 30mm;
    height: 30mm;
    }
.logo_img {
    position: absolute;
    top: 3mm;
    left: 10.5mm;
    width: 45mm;
    height: 45mm;
    }

.logo_img2 {
    position: absolute;
    top: 10mm;
    left: 10.5mm;
    width: 35mm;
    float: left;
    height: 35mm;
    }

h2 {
    color: blue;
    background-color: red;
}
